name: Build LaTeX Template
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install LaTeX Packages
        run: |
          sudo apt-get update -y && sudo apt-get install -y \
          texlive-latex-base \
          texlive-fonts-recommended \
          texlive-latex-extra \
          biber
        
      - name: Add texlive to PATH
        run: | 
          PATH=/usr/local/texlive/2011/bin/i386-linux:$PATH

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Build LaTeX Template
        run: |
          pdflatex -interaction=nonstopmode -halt-on-error -file-line-error main.tex
          biber main
          pdflatex -interaction=nonstopmode -halt-on-error -file-line-error main.tex
          pdflatex -interaction=nonstopmode -halt-on-error -file-line-error main.tex

      - name: Publish Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: journal-template
          path: main.pdf
